.left{
    display: flex;
    height: 100vh;
    width: 15%;
    padding:1%;
    flex-direction: column;
    justify-content: space-between;
}
.right{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

hr{
    margin-top: 15px;
    width: 100%;
}

.neeche{
    border-radius: 2px;
    width: 95%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 60vh;
    margin-bottom: 5%;
    cursor: pointer;
}

.image{
    height: 10%;
    width: 10%;
}
img{
    margin-left: 2px;
}

li{
    padding: 7%;
    list-style: none;
    cursor: pointer;
}
.headingr{
    height: 20%;
    width: 100%;
    display: flex;
    align-items:end;
    padding-bottom: 2%;
}

.lister {
    height: 100%;
    width: 100%; /* Default width for mobile */
  
    @media (min-width: 768px) {
      /* Set width to 45% for screens with a minimum width of 768px (larger views) */
      width: 45%;
    }
  }
  